body {
	width: auto;
	margin: 30px;
	background-color: #f6f6f6;
}

h1,
h2 {
	font-family: "Noto Serif", serif;
}

h1 {
	font-size: larger;
	text-align: center;
}

h2 {
	font-size: large;
}

p {
	font-family: "Montserrat", sans-serif;
	font-size: medium;
}

.logo {
	display: block;
	width: 80%;
	margin: 40px auto;
}

.emerald-tablet {
	display: block;
	width: 200px;
	margin: auto;
}

footer {
	width: 100%;
	text-align: center;
	bottom: 0;
	margin-top: 50px;
}

#footer-text {
	font-size: 11px;
}

#divide {
	width: 40px;
	height: 3px;
	margin: auto;
	background-color: black;
}

.dropdown {
	font-family: "Noto Serif", serif;
	width: 200px;
	height: 40px;
	cursor: pointer;
	text-align: center;


.random-button {
	font-family: "Noto Serif", serif;
	background-color: black;
	color: white;
	border: none;
	width: 200px;
	height: 40px;
	cursor: pointer;
}

.choose-quote {
	text-align: center;
	padding: 30px;
}

.choose-character {
	text-align: center;
	padding: 30px;
}

.quote-class {
	background-color: black;
	color: white;
	padding: 10px;
	margin: 10px 10px;
}
/* 
option {
	background-color: black;
	color: white;
}

select {
	background-color: black;
	color: white;
} */
